

.leftdiv {
    width:45%;
    float: left;
    font-family:  ‘Oswald’, Verdana, Arial, sans-serif;
}

.rightdiv {
    width:45%;
    float: right;
    font-family:  ‘Oswald’, Verdana, Arial, sans-serif;
}

.clearfix{
    clear:both
}

.lastdiv {
    width:100%;
    margin-top: 60%;
}


.movetoleft {
    float: right;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-family:  ‘Oswald’, Verdana, Arial, sans-serif;
 }

h3 {
    font-weight: 500;
}

ol {
    font-weight: 300;
    border: 1px red solid;
    border-radius: 15px;
    list-style-position: inside;
}

ul {
    font-weight: 300;
    border: 1px red dashed;
    border-radius: 15px;
    padding: 10px;
    list-style: upper-roman;
    list-style-position: inside;
}

a:link {
    font-family:  ‘Oswald’, Verdana, Arial, sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}